<div id="div_proposats" ng-show="proposats.length > 0">
  <h4>Proposats</h4>
  <ul>
    <li class="head_table">
      <div class="col1">Tema</div>
      <div class="col2">Alumne</div>
      <div class="col3">Data</div>
    </li>

    <li ng-repeat="c in proposats">
      <div class="col1">{{c.tema}}</div>
      <div class="col2">{{c.nom}}</div>
      <div class="col3">{{c.data_data}}</div>
      <button ng-show="options.isVisible" 
              ng-click="acceptar_proposta($index)">
        Acceptar proposta
      </button>
    </li>
  </ul>
</div>	
