<div id="div_programats">
  <h2>Controls</h2>
  <h4>Per fer</h4>
  <ul id="per_fer">
    <li class="head_table">
      <div class="col1">Tema</div>
      <div class="col2">Aula</div>
      <div class="col3">Data</div>
    </li>
    <li class="per_fer" ng-repeat="c in controls_per_fer track by $index">
      <div class="col1">{{c.Tema}}</div>
      <div class="col2">{{c.Aula}}</div>
      <div class="col3">{{c.Data}}</div>
      <span class="button_pen"
            ng-show="options.isVisible"
            ng-click="inscrits_control($index)">
        <span class="glyphicon glyphicon-list-alt"></span>
      </span>
      <span class="button_pen"
            ng-show="options.isVisible" 
            ng-click="delete_exam($index)">
        <span class="glyphicon glyphicon-remove"></span>
      </span>
      <span>
        <input type="button" id="{{$index}}"
               ng-click="reservar_control($index)" value="Apuntar-se"
               ng-show="!options.isVisible"></input>
      </span>
    </li>
  </ul>
  <span>
    <button ng-click="afegir()"
            ng-show="options.isVisible">Afegir</button>
  </span>
  <editar-control></editar-control>
  <afegir-control></afegir-control>
  <veure-inscrits></veure-inscrits>
  <veure-notes></veure-notes>

  <h4>Fets</h4>
  <ul id="fets">
    <li class="head_table">
      <div class="col1">Tema</div>
      <div class="col3">Data</div>
    </li>
    
    <li class="link"
        ng-repeat="c in controls_fets track by $index"
        ng-click="click_notes($index)">
      <div class="col1">{{c.Tema}}</div>
      <div class="col3">{{c.Data}}</div>
    </li>
  </ul>
</div>
<proposats></proposats>
<proposar ng-show="!options.isVisible"></proposar>
</div>
