<div>
	<div id="div_programats">
  		<h3>Controls programats</h3>
  		<table class="programats">
	 		<tr>
				<th><h4>Examen</h4></th>
				<th><h4>Aula</h4></th>
				<th><h4>Data</h4></th>
	 		</tr>
	 		<tr class="per_fer"  ng-repeat="c in controls_per_fer">
				<td><input type="text" id="1" class="{{$index}}" ng-hide="true"><span id="span" class="{{$index}}">{{c.tema}}</span></input></td> 
				<td><input type="text" id="2" class="{{$index}}" ng-hide="true"><span id="span" class="{{$index}}">{{c.aula}}</span></input></td>
				<td><input type="text" id="3" class="{{$index}}" ng-hide="true"><span id="span" class="{{$index}}">{{c.data}}</span></input></td>
				<td><button type="button" class="button_pen" id="button_{{$index}}" ng-click="click_edit($index)" class="edit_button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-pencil"></span>
</button></td>
			</tr>

			<tr class="fets"  ng-repeat="c in controls_per_fer">
				<td><input type="text" id="1" class="{{$index}}" ng-hide="true"><span id="span" class="{{$index}}">{{c.tema}}</span></input></td> 
				<td><input type="text" id="2" class="{{$index}}" ng-hide="true"><span id="span" class="{{$index}}">{{c.aula}}</span></input></td>
				<td><input type="text" id="3" class="{{$index}}" ng-hide="true"><span id="span" class="{{$index}}">{{c.data}}</span></input></td>
			</tr>
  		</table>
	</div>
	<proposats ng-show="isVisible" >
		<div id="div_proposats">
  		<h3>Controls proposats</h3>
  		<table class="programats">
	 		<tr>
				<th><h4>Examen</h4></th>
				<th><h4>Data</h4></th>
	 		</tr>
	 		<tr  ng-repeat="c in proposats">
				<td>{{c.tema}}</td>
				<td>{{c.data}}</td>
	 		</tr>
  		</table>
	</div>	
		
	</proposats>

</div>