body {
  margin: 0px !important;
}
h1 { margin-top: .3em; }

#content {
  padding: 0;
  padding-left: 1.5em;
}

#navigation {
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  background-color: #333;
  padding: 0 1.5em;
}

#menu {
  float: right;
  background-color: #000;
  width: 317px;
}

#navigation_user {
  position: absolute;
  width: 250px;
  color: #aaa;
}

#navigation_user a {
  text-decoration: none;
  color: #80B6F4;
}

#navigation_user h3 {
  width: 177px;
  text-align: center;
}

#navigation_user ul {
  background: #333;
  width: 250px;
  margin-left: 0;
  padding-left: 0;
}

#navigation_user ul li {
  text-align: center;
}

#navigation_user ul li a {
  text-align: center;
}

#title {
  float: left;
}

#title a {
  color: #EC910E;
  text-decoration: none;
}

#edit_buton {
}

.programats {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  margin: 5px; 
}

.programats tr td {
  padding: 0px;
  margin-top: 10px;
}

table.programats > tbody > tr > th {
  border-radius: 15px;
  background-color: #1CCAEC;
  color: #CCC;
  font-size: 1.5em;
  text-align: center;
}

.head_table {
  font-weight: bold;
  color: #666;
}
#div_programats li div, #div_proposats li div {
  display: inline-block;
  padding: .3em 0;
}
#div_programats li a {
  display: block;
}
#div_programats ul, #div_proposats ul {
  list-style-type: none;
  padding-left: 0;
}
#div_programats h4, #div_proposats h4 {
  font-weight: bold;
  margin-top: 1.5em;
  border-bottom: 1px solid #ccc;
}
#div_programats #fets li.link {
  cursor: pointer;
  color: #438CE1;
}
#div_programats #fets li.link:hover {
  background: #f7f7f7;
}
.col1 { width: 12em; }
.col2 { width: 7em; }
.col3 { width: 20em; }

#div_proposats {
  margin-top: 3em;
}

h4 {
  color: #404B4D;
}

span.button_pen {
  background-color: white;
  border: none !important;
  cursor: pointer;
  padding-left: .5em;
}

.button_ok {
  background-color: rgb(21, 221, 27);
  border: none !important;
}

.date {
  margin-bottom: 8px;
}

form input {
  margin-bottom: .5em;
}

#proposar {
  width: 40em;
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: 3px;
  margin-top: 4em;
  padding: 1em;
}
#proposar h5 {
  font-weight: bold;
  margin: 0 0 .5em 0;
}
#proposar form {
  vertical-align: middle;
}
#proposar form .item {
  padding: 5px 8px;
}
#proposar form button {
  float: right;
}

.apuntat {
  background: rgb(22, 236, 22);
  pointer-events: none; /* chapussa! */
}